@model IEnumerable<VOD.Modelss.Rental>
@{
	ViewBag.Title = "MyMovies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="main-name">My Movies</h2>


<table class="table table-bordered table-hover">

	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td> @item.MovieName</td>


			</tr>
		}
	</tbody>
</table>
